article.post {
    .entry-content {
        p {
            &:first-of-type {
                &:first-letter {
                    font-size: 8.5rem;
                    font-weight: bold;
                    color: $primary;
                }
            }
        }
    }
}

.post {
    .listing-image {
        overflow: hidden;

        img {
            transition: transform .5s ease;
        }

        &:hover {
            img {
                transform: scale(1.5);
            }
        }
    }
}

.featured-media-inner {
    img {
        margin: 0;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        height: 100vh;
        width: 100%;
    }
}

figure.featured-media {
    margin: 0;
}

.entry-header {
    max-width: 72rem;
    width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.entry-content {
    max-width: 58rem;
    width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0;

    p {
        font-size: 1.6rem;
        line-height: 1.476;
    }
}

.listing-panel {
    background-color: $white;
    padding: 10px;

    span {
        background-color: $white;
        color: $white;
        margin: 0 5px 0 0;
        padding: 0 5px;
        font-size: 18px;
        display: block;
        text-align: center;
    }

    button {
        width: 100%;
    }
}

.listing-sponsored-panel {
    padding: 10px;

    h3 {
        color: $primary;
    }

    p {
        color: $primary;
    }
}

.listing-text {
    padding: 20px;
}

.listing-image {
    img {
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        height: 60vh;
        width: 100%;
    }
}

.partner-listing-image {
    img {
        object-fit: contain;
        object-position: center;
        overflow: hidden;
        height: 40vh;
        width: 100%;
    }
}


    .nav-tabs {
        display: flex;
        justify-content: center;
        border-bottom: none;

        li {
            margin: 10px;
        }
    }