body {
    background-color: #f2f2f2 !important;
    margin: 0;
}

p,
span {
    font-family: $body-text;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
li.js-filter-item button {
    font-family: $header-text;
    letter-spacing: 0.04em;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.6rem;
    text-align: center;
}

p {
    margin-bottom: 1.5em;
}

.advert p {
    font-size: 1.2rem;
    text-decoration-line: underline;
    text-decoration-style: double;
    font-weight: 800;
    color: $primary;
    cursor: pointer;
    text-align: center;
}

.search-highlight {
    background: #FFFF00;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", courier, monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/* Elements
--------------------------------------------- */


hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 1em 0;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/* Links
--------------------------------------------- */
a {
    color: $primary;

    &:visited {
        color: $black;
    }

    &:hover {
        color: $black;
        outline: 0;
    }

    &:focus {
        color: $black;
        outline: thin dotted;
    }

    &:active {
        color: $black;
        outline: 0;
    }
}

/* Captions
--------------------------------------------- */
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;

    img[class*="wp-image-"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .wp-caption-text {
        margin: 0.8075em 0;
    }
}

.wp-caption-text {
    text-align: center;
}