@import 'components/cta';
@import 'components/forms';
@import 'components/gallery';
@import 'components/posts';
@import 'components/carousel';

section#adverthead {
    padding: 2rem 0;
    background: $white;
}

section#advertfoot {
    padding: 2rem 0;
    background: $white;
    margin-top: 2rem;
}

section {
    padding: 5rem 0;
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $white;
    text-align: center;
    padding: 20px 40px;
}